* {
  box-sizing: border-box;
}

div,
p,
h1,
h2,
h3,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 10px;
  background-color: var(--background);
}
